h1{
    font-size: 30px;
  margin-left:570px;
}

h6{
  margin-left:700px
}

img{
  margin-top:50px;
  margin-left:500px;
  width:500px;
}

h{
  font-size:20px;
}

h2{
  font-size:30px;
}

nome{
  margin:700px
}
